{{ define "main" }}
<div id="websiteView" class="pageViewMode active">
    <div class="blog-single-image-header-top" style="position: relative; background-image:URL( //images.ctfassets.net/vfgh62eq5a4k/3FU9BsWxmUUSKcWEGccyIs/989e1ff9d477ab8db0e8857d8f867e8a/priscilla-du-preez-607204-unsplash__1_.jpg?w=1600&h=800&q=50&fit=fill ); background-size: cover; background-position: center; background-repeat: no-repeat">
        <div class="image-overlay blog">
        </div>
        <div class="container" style="z-index: 1">
            <div class="blog-single-banner-container">
                <div class="blog-archive-link"><a href="#" class="link-3">return to articles</a></div>
                <h1 id="mainTitle" class="archive-heading">Title Goes Here</h1>
                <div class="blog-single-meta">by
                    <a id="authorName" href="#author" style="opacity: 1; font-weight: bold" onclick="return false;" class="link-6">Author Name</a>
                    <br/><span id="date">Date Goes Here</span>
                </div>
                <div class="tags-and-comments">
                    <div class="div-block-47-copy"><a href="https://www.sogmi.org/tags/prophecy" class="link-block-5 w-inline-block">
                            <div>prophecy</div>
                        </a><a href="https://www.sogmi.org/tags/office-of-a-prophet" class="link-block-5 w-inline-block">
                            <div>office of a prophet</div>
                        </a></div>
                    <a href="#comments" style="padding-bottom: 10px; color:white">0 comments</a>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section">
        <div class="container">
            <div class="blog-wrapper">
                <div id="content" class="blog-single-rich-text-element w-richtext">
                    Content Goes Here
                </div>
                <div class="share-box">
                    <div class="div-block-22">
                        <div>share</div>
                    </div>
                    <div class="div-block-44">
                        <a target="_blank" class="link-block-2-copy facebook w-inline-block">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a target="_blank" class="link-block-2-copy twitter w-inline-block">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a target="_blank" class="link-block-2-copy pinterest w-inline-block">
                            <i class="fab fa-pinterest"></i>
                        </a>
                        <a target="_blank" class="link-block-2-copy google-plus w-inline-block">
                            <i class="fab fa-google"></i>
                        </a>
                        <a target="_blank" class="link-block-2-copy reddit w-inline-block">
                            <i class="fab fa-reddit"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div id="series" style="display:none" class="div-block-55">
                <div class="div-block-56"></div>
                <div class="div-block-54-copy"></div>
                <div class="div-block-54"></div>
                <div class="series-notification">
                    <div class="text-block-27">This post is part of the collection "<strong id="seriesName" class="bold-text-4">SERIES NAME</strong>"</div>
                    <a class="button-10 w-button">More From This
                        Series</a>
                </div>
            </div>
            <div class="author-block">
                <h2 id="author" class="about-author">About the Author</h2>
                <div class="div-block-53">
                    <div class="author-profile-image">
                        <img src="//images.ctfassets.net/vfgh62eq5a4k/96QJj81azCMMwMSuSuIEY/cb10e257ae13a038cccff77963a9ac74/IMG_0293_Pastor_Cris_Portrait_at_FFCI.jpg?w=200&h=200&fit=fill&f=face&r=300&q=80"
                            alt="photo of Cristina Sosso" title="photo of Cristina Sosso" width="200" />
                    </div>
                    <div class="author-info">
                        <h3 class="author-name">Cristina Sosso</h3>
                        <h5 class="author-profile-position">Executive Vice President &amp; Co-Founder</h5>
                        <p class="paragraph-4">Cristina Sosso founded Sons of God Ministries International (SOGMI) with her husband
                            Michael back in 2002. With the inspiration of the Holy Spirit she opened the prophetic and business
                            schools at SOGMI and spearheaded the start of the &#34;Empower A Leader, Empower A Nation&#34; Conference
                            which has mentored and trained thousands of ministers and business leaders all over the world. She
                            also hosts a weekly radio program called &#34;The Prophetic Voice of Our Time&#34; and is presently
                            the Senior Pastor at Freedom Fellowship Church in San Antonio, Texas.</p>
                        <a href="/people/cristina-sosso/" class="button-9 w-button">More From Cristina</a>
                    </div>
                </div>
            </div>
            <div class="blog-comment-wrapper mailchimpForm">
                <div class="image-overlay"></div>

                <div id="mc_embed_signup" style="z-index: 1; position: relative;">
                    <h2 class="mailingList">Subscribe to our mailing list</h2>
                    <p>Mailing list sign up form will appear here</p>
                </div>

            </div>

            <div class="related-post-wrapper">
                <h2 class="about-author related">Related Articles</h2>
                <div data-animation="slide" data-duration="500" data-infinite="1" class="slider-2 w-slider">
                    <div class="mask-3 w-slider-mask">

                        <div class="slide-3 w-slide">
                            <a class="related-post-inner w-inline-block">
                                <div class="relative-wrapper">
                                    <div class="related-post-image" style="background-image: url(//images.ctfassets.net/vfgh62eq5a4k/1K8YStDFAYuSu4YySSqYyG/d13584ce7da813d4b84819859d9836f9/james-pritchett-2605-unsplash__1_.jpg?w=400&q=50)"></div>
                                    <div class="image-color-overlay blue"></div>
                                </div>
                                <div class="div-block-52-copy">
                                    <h3 class="heading-40">Placeholder Article</h3>
                                    <p class="paragraph-10">Related articles will appear here. Related articles are calculated based on the keywords, article collection, and author.</p>
                                </div>
                            </a>
                        </div>
                        <div class="slide-3 w-slide">
                            <a class="related-post-inner w-inline-block">
                                <div class="relative-wrapper">
                                    <div class="related-post-image" style="background-image: url(//images.ctfassets.net/vfgh62eq5a4k/4KO0ivTIrK6gMUac4a4UGI/589356c9ef7b509c694233e6e5a6ce4e/Girl_of_Vietnam.jpg?w=400&q=50)"></div>
                                    <div class="image-color-overlay blue"></div>
                                </div>
                                <div class="div-block-52-copy">
                                    <h3 class="heading-40">Placeholder Article</h3>
                                    <p class="paragraph-10">Related articles will appear here. Related articles are calculated based on the keywords, article collection, and author.</p>
                                </div>
                            </a>
                        </div>
                        <div class="slide-3 w-slide">
                            <a class="related-post-inner w-inline-block">
                                <div class="relative-wrapper">
                                    <div class="related-post-image" style="background-image: url(//images.ctfassets.net/vfgh62eq5a4k/2LZyMsKfXieOAaY0uOIeUc/a7c25fbfe1b12ae8e831d2d5c03e56e5/romain-vignes-53940-unsplash__1_.jpg?w=400&q=50)"></div>
                                    <div class="image-color-overlay blue"></div>
                                </div>
                                <div class="div-block-52-copy">
                                    <h3 class="heading-40">Placeholder Article</h3>
                                    <p class="paragraph-10">Related articles will appear here. Related articles are calculated based on the keywords, article collection, and author.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="left-arrow-2 w-slider-arrow-left">
                        <div class="icon-5 w-icon-slider-left"></div>
                    </div>
                    <div class="right-arrow-2 w-slider-arrow-right">
                        <div class="w-icon-slider-right"></div>
                    </div>
                    <div class="slide-nav-2 w-slider-nav w-round"></div>
                </div>
            </div>
            <div class="blog-comment-wrapper">
                <h2 id="comments" class="about-author">Comments</h2>
                <p>Comments will appear here</p>
            </div>
        </div>
    </div>
</div>
<div id="seoView" class="pageViewMode">
        <div class="container">
            <div class="mw">
                <div class="center_col">
                    <div class="g">
                        <h3>Wikipedia</h3>
                        <div class="s">
                            <div class="seoUrl"><span>https://wikipedia.org</span><i class="fas fa-chevron-down"></i></div>
                            <span class="st">Wikipedia is a free online encyclopedia, created and edited by volunteers around the world and hosted by the Wikimedia Foundation.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mw">
                <div class="center_col">
                    <div class="g">
                        <h3>Youtube</h3>
                        <div class="s">
                            <div class="seoUrl"><span>https://www.youtube.com</span><i class="fas fa-chevron-down"></i></div>
                            <span class="st">Enjoy the videos and music you love, upload original content, and share it all with friends, family, and the world on YouTube.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mw">
                <div class="center_col">
                    <div class="g featured">
                        <h3 id="seoTitle">Title Goes Here</h3>
                        <div class="s">
                            <div class="seoUrl"><span id="seoUrl">https://linkgoeshere.com</span><i class="fas fa-chevron-down"></i></div>
                            <span class="st" id="seoDescription">Description Goes Here</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mw">
                <div class="center_col">
                    <div class="g">
                        <h3>The New York Times - Breaking News, World News & Multimedia</h3>
                        <div class="s">
                            <div class="seoUrl"><span>https://www.nytimes.com</span><i class="fas fa-chevron-down"></i></div>
                            <span class="st">The New York Times: Find breaking news, multimedia, reviews & opinion on Washington, business, sports, movies, travel, books, jobs, education, real estate, ...</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mw">
                <div class="center_col">
                    <div class="g">
                        <h3>Welcome to Kenneth Copeland Ministries Official Website - Kenneth ...</h3>
                        <div class="s">
                            <div class="seoUrl"><span>https://www.kcm.org</span><i class="fas fa-chevron-down"></i></div>
                            <span class="st">Kenneth Copeland Ministries (KCM) specializes in teaching principles of bible faith - prayer, healing, salvation and other biblical topics via Believers Voice of ...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div id="socialView" class="pageViewMode"></div>
<script src="/js/article.js"></script>

{{ end }}