<div id="seoView" class="pageViewMode">
    <div class="container">
        <div class="mw">
            <div class="center_col">
                <div class="g">
                    <h3>Wikipedia</h3>
                    <div class="s">
                        <div class="seoUrl"><span>https://wikipedia.org</span><i class="fas fa-chevron-down"></i></div>
                        <span class="st">Wikipedia is a free online encyclopedia, created and edited by volunteers around the world and hosted by the Wikimedia Foundation.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mw">
            <div class="center_col">
                <div class="g">
                    <h3>Youtube</h3>
                    <div class="s">
                        <div class="seoUrl"><span>https://www.youtube.com</span><i class="fas fa-chevron-down"></i></div>
                        <span class="st">Enjoy the videos and music you love, upload original content, and share it all with friends, family, and the world on YouTube.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mw">
            <div class="center_col">
                <div class="g featured">
                    <h3 id="seoTitle">Untitled</h3>
                    <div class="s">
                        <div class="seoUrl"><span id="seoUrl"></span><i class="fas fa-chevron-down"></i></div>
                        <span class="st" id="seoDescription"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mw">
            <div class="center_col">
                <div class="g">
                    <h3>The New York Times - Breaking News, World News & Multimedia</h3>
                    <div class="s">
                        <div class="seoUrl"><span>https://www.nytimes.com</span><i class="fas fa-chevron-down"></i></div>
                        <span class="st">The New York Times: Find breaking news, multimedia, reviews & opinion on Washington, business, sports, movies, travel, books, jobs, education, real estate, ...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mw">
            <div class="center_col">
                <div class="g">
                    <h3>Welcome to Kenneth Copeland Ministries Official Website - Kenneth ...</h3>
                    <div class="s">
                        <div class="seoUrl"><span>https://www.kcm.org</span><i class="fas fa-chevron-down"></i></div>
                        <span class="st">Kenneth Copeland Ministries (KCM) specializes in teaching principles of bible faith - prayer, healing, salvation and other biblical topics via Believers Voice of ...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>