<div id="socialView" class="pageViewMode">
    <div class="container">

        <div class="fbcardGroup">
            <div class="fbcard">
                <div class="fbDisplayName">
                    <img src="https://images.ctfassets.net/vfgh62eq5a4k/42Y30zgEpiywg8usQOqq24/68aa95f84c038d8b9d84b4b6b9452e29/sonic.jpg?w=32&h=32&fit=fill&r=100" alt="" width="32">
                    <div>
                        <a>Sonic The Hedgehog</a>
                        <div>2 minutes ago</div>
                    </div>
                </div>
                <div>Gotta go fast</div>
            </div>
            <img class="displayimg" style="display:none" width="auto" alt="">
            <div class="fbcard dark">
                    <div class="websiteName">BUZZBEE.COM</div>
                    <div class="ogTitle">10 Times Sonic Went Really Really Fast</div>
                    <div class="ogDescription">They call him the fastest thing alive for a reason.</div>
            </div>
        </div>
        <div class="fbcardGroup featured">
            <div class="fbcard">
                <div class="fbDisplayName">
                    <img src="/preview/img/sogmilogo.jpg" alt="" width="32">
                    <div>
                        <a>Sons of God Ministries International</a>
                        <div>5 minutes ago</div>
                    </div>
                </div>
                <div>Check out this totally rad content from our website. 😎</div>
            </div>
            <img class="displayimg" id="ogImage" src="" width="auto" alt="" style="display:none">
            <div class="fbcard dark">
                <div class="websiteName">SOGMI.ORG</div>
                <div class="ogTitle" id="ogTitle"></div>
                <div class="ogDescription" id="ogDescription"></div>
            </div>
        </div>
        <div class="fbcardGroup">
            <div class="fbcard">
                <div class="fbDisplayName">
                    <img src="/preview/img/haroldprofile.png" alt="" width="32">
                    <div>
                        <a>Harold</a>
                        <div>15 minutes ago</div>
                    </div>
                </div>
                <div>I'm not sure how I feel about this...</div>
            </div>
            <img class="displayimg" src="/preview/img/phonecallharold.jpg" width="auto" alt="">
            <div class="fbcard dark">
                    <div class="websiteName">YOURDAILYGIF.COM</div>
                    <div class="ogTitle">15 Harold GIFs That Perfectly Describe The Struggles of Daily Life</div>
                    <div class="ogDescription">#thestruggleisreal</div>
            </div>
        </div>

    </div>
</div>