<section id="previewNav">
    <div class="container">
        <div class="brand w-nav-brand">
            {{ .Title }}
        </div>
        <nav>
            <div class="previewLink active" id="websiteViewButton" onclick="changeView('websiteView', 'websiteViewButton')"><i class="fas fa-desktop"></i>&nbsp;&nbsp;Website View</div>
            <div class="previewLink" id="seoViewButton" onclick="changeView('seoView', 'seoViewButton')"><i class="fas fa-globe"></i>&nbsp;&nbsp;Search Engine View</div>
            <div class="previewLink" id="socialViewButton" onclick="changeView('socialView', 'socialViewButton')"><i class="fas fa-share-alt-square"></i>&nbsp;&nbsp;Social Media View</div>
        </nav>
    </div>
</section>