body {
    padding-top: 100px;
}

/* homepage form */

section.homepage {
    background: var(--dark-blue);
    margin-top: -100px;
    min-height: 100vh;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    background-image: linear-gradient( 150deg, rgba(22, 22, 22, 0.9), 
    rgba(34, 34, 34, 0.96)), url(https://images.ctfassets.net/vfgh62eq5a4k/38txgSAVbyqyM4iaIEiu8m/fd0ce8a519c635e7a8559e8ef0467dd2/download__3_.jpg?w=1000&q=50);
    background-size: cover;
    background-position: center;
    color: white;
}

section.homepage h1 {
    font-size: 30px;
    line-height: 40px;
    margin: 0px 0px 30px 0px;
    color: var(--highlight)
}

.homepageForm {
    max-width: 600px;
    padding: 20px;
    margin: auto;
}

.flex-form .radioGroup {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.flex-form .radioGroup input {
    display: none;
}

.flex-form .radioGroup input + label {
    background: transparent;
    border: 1px solid white;
    opacity: 0.8;
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: 400;
}

.flex-form .radioGroup input:checked + label {
    background: white;
    opacity: 1;
    color: #333333;
}

.homepageForm input.textInput {
    background: transparent;
    padding: 30px;
    color: white;
    margin-bottom: 30px;
}

.homepageForm input.textInput:focus {
    background: rgba(255, 255, 255, 0.144);
    color: white;
}

.homepageForm input[type="submit"] {
    margin-top: 
}

/* Navigation tabs */
#previewNav {
    background: rgb(20, 20, 20);
    color: #ffffff;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    bottom: auto;
    z-index: 9999;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5)
}

#previewNav .brand {
    margin: 0px;
    color: white;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
}

#previewNav .container {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
}

#previewNav nav {
    display: flex;
    display: -webkit-flex;
    align-items: stretch;
    height: 100px;
}

nav .previewLink {
    padding: 0px 20px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    cursor: pointer;
}

nav .previewLink:hover {
    background: rgba(241, 241, 241, 0.102)
}

nav .previewLink.active {
    background: #1e4d68 ;
    color: white;
}

div.pageViewMode {
    display:none
}

div.pageViewMode.active {
    display:block;
}

/* GOOGLE PREVIEW */

#seoView {
    background: #e6e6e6;
    padding: 20px 0px;
    font-family: 'Roboto',arial,sans-serif;
}

.mw {
    max-width: 1197px;
}

.center_col {
    max-width: 632px;
}

.g {
    margin-bottom: 46px;
    margin-top: 0px;
    /* font-family: 'Roboto',arial,sans-serif; */
}

.g.featured {
    /* outline: 1px solid rgb(255, 201, 52); */
    padding: 20px;
    margin: -20px -20px 36px -20px;
    background: white;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.329);
}

.g h3:hover {
    text-decoration: underline;
}

#seoView h3 {
    color: #1a0dab;
    font-size: 22px;
    margin-bottom: 0px;
    margin-top: 0px;
    cursor: pointer;
    font-weight: 400;
}

.seoUrl {
    color: #006621;
    font-size: 14px;
    white-space: nowrap;
}

.seoUrl i {
    font-size: 10px;
    margin-left: 5px;
}

.st {
    color:#545454;
    line-height: 1.4;
    word-wrap: break-word;
    font-size: 16px;
}

/* FB Preview */
#socialView {
    background: #e9ebee;
    min-height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
    padding: 20px 0px;
}

#socialView a {
    color: #365899;
}

.fbcard {
    background: white;
    padding: 12px;
    border: 1px solid #dfdfdf;
    max-width: 500px;
    border-radius: 4px 4px 0px 0px;
}

.fbcard.dark {
    background: #f5f5f5;
    color: #373b3f;
    border-radius: 0px 0px 4px 4px;
}

.ogDescription {
    font-size: 14px;
    line-height: 20px;
}

.fbDisplayName {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.fbDisplayName a {
    font-weight: bold;
    padding-left: 5px;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0px;
}

.websiteName {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 4px;
}

.ogTitle {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 0px;
}
.ogDescription {
    font-size: 12px;
    line-height: 16px;
    margin-top:0px;
}

.fbcardGroup {
    margin: 10px 0px;
    opacity: 0.8;
    filter: grayscale(50);
    -ms-filter: grayscale(50);
    -webkit-filter: grayscale(50);
}

.fbcardGroup.featured {
    opacity: 1;
    filter: grayscale(0);
    -ms-filter: grayscale(0);
    -webkit-filter: grayscale(0);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.329);
    display: inline-block;
    border-radius: 4px;
}

.fbcardGroup div.fbDisplayName div div {
    font-size: 12px;
    opacity: 0.8;
    line-height: 18px;
    padding-left: 5px;
    margin-top: -5px;
}