body {
    padding-top: 100px;
}

#previewNav {
    background: rgb(20, 20, 20);
    color: #ffffff;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    bottom: auto;
    z-index: 9999;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5)
}

#previewNav .brand {
    margin: 0px;
    color: white;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
}

#previewNav .container {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
}

#previewNav nav {
    display: flex;
    display: -webkit-flex;
    align-items: stretch;
    height: 100px;
}

nav .previewLink {
    padding: 0px 20px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    cursor: pointer;
}

nav .previewLink:hover {
    background: rgba(241, 241, 241, 0.102)
}

nav .previewLink.active {
    background: #1e4d68 ;
    color: white;
}

div.pageViewMode {
    display:none
}

div.pageViewMode.active {
    display:block;
}

/* GOOGLE PREVIEW */

#seoView {
    background: #e6e6e6;
    padding: 20px 0px;
    font-family: 'Roboto',arial,sans-serif;
}

.mw {
    max-width: 1197px;
}

.center_col {
    max-width: 632px;
}

.g {
    margin-bottom: 46px;
    margin-top: 0px;
    /* font-family: 'Roboto',arial,sans-serif; */
}

.g.featured {
    /* outline: 1px solid rgb(255, 201, 52); */
    padding: 20px;
    margin: -20px -20px 36px -20px;
    background: white;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.329);
}

.g h3:hover {
    text-decoration: underline;
}

#seoView h3 {
    color: #1a0dab;
    font-size: 22px;
    margin-bottom: 0px;
    margin-top: 0px;
    cursor: pointer;
    font-weight: 400;
}

.seoUrl {
    color: #006621;
    font-size: 14px;
    white-space: nowrap;
}

.seoUrl i {
    font-size: 10px;
    margin-left: 5px;
}

.st {
    color:#545454;
    line-height: 1.4;
    word-wrap: break-word;
    font-size: 16px;
}